<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>Quiz Portal</title>
        <link type="text/css" rel="stylesheet" href="{% static "css/stylesheetindex.css" %}" />
    </head>

    <body>
	<div id="background">
    <img src="{% static "images/Ques.jpg" %}" class="stretch" />
	</div>
	<div id="cent">
        <h1>Welcome to the quiz portal</h1>
        <a href="/quizportal_app/login/">Login</a>
        <a href="/quizportal_app/signup/">Create an account</a>
        <br>
        <a href="/accounts/facebook/login/?process=login">Facebook Login</a>
        <br>
        <br>
        <a href="/accounts/google/login/?process=login">Google Login</a>
        <br>
        <br>
        <a href="/accounts/twitter/login/?process=login">Twitter Login</a>
        
	<div>
    </body>

</html>