<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>Quiz Portal</title>
        <link type="text/css" rel="stylesheet" href="{% static "css/stylesheetindex.css" %}" />
    </head>

    <body>
	<div id="background">
    <img src="{% static "images/Ques.jpg" %}" class="stretch" />
	</div>
	<div id="cent">
        <h1>Welcome to the quiz portal</h1>
        <a href="/quizportal_app/login/">Login</a>
        <a href="/quizportal_app/signup/">Create an account</a>
        <br>
        <br>
        <div class="social"> OR LOGIN WITH:</div>
        <table>
        <tr>
        <td >
        <div class="fb1">
        <a href="/accounts/facebook/login/?process=login" class="fb">facebook </a>
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="gm1">
                <a href="/accounts/google/login/?process=login" class="gm">Gmail</a>
                </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="twi1">
        <a href="/accounts/twitter/login/?process=login" class="twi">Twitter</a>
        </div>
        </td>
        </tr>
        </table>
	<div>
    </body>

</html>